@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
*{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #32407b;
    color:white;
}

body{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;

}

.container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border:solid 4px;
    padding-bottom: 50px;
    max-width: 600px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:solid 1px; */
    width: 500px;
    height: 300px;
}

button{
    margin-top:15px;
    color:#008CBA;  
    height: 15%;
    width: 90%;
    background-color: #77d8d8;
    font-size: 25px;
    cursor: pointer;
    font-weight: bolder;
    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
button:hover{
    color:#008CBA;;
    border: none;
}

input{
    width:90%;
    border-color: black;
    padding-top:20px;
    background-color: white;
    font-size: 25px;
    height: 15px;
    color:black;
    padding-bottom: 20px
}

input:disabled{
    border-color:red;
}

input::placeholder{
    font-size: 25px;
    text-align: left;
    padding-top:10px;
    margin-top:10px;
    /* color:white; */
}

.progressBar_history{
    display:flex;
    border:2px solid #ccc;
    border-radius: 4px;
    min-height: 30px;
    padding:5px;
    list-style-type: none;
    font-size:22px;
    max-width: 500px;
    
}

.progressBar_history li{
    /* margin-right: 8px; */
    padding:5px;
    border-radius: 4px;
}

.guesses{
    /* border:solid 1px; */
    
    width: 90%;
}

.modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  .modal_content {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
    
  }
  
  .close {
    color: Black;
    float: right;
    background-color: white;
    font-weight: bolder;
    font-size: xx-large;
    
  }
  
  .close:hover {
    color: mediumaquamarine;
    cursor: pointer;
    
  }

.modal_content ol{
    background-color: white;
}

.modal_content h2{
    text-align: center;
    background-color: white;
    color:black
}

.modal_content li{
    background-color: white;
    color:black;
    padding:10px;
    /* list-style-type: none; */
}

@media (max-width:375px){
    .container{
        border:none;
        display: flex;
        align-items: center;
        /* border: solid 4px black; */
    }
   .form-container{
       display:flex;
       justify-content: center;
       align-items: center;
   }
   input,button{
       width:70%; 
   }

   .guesses{
       width:70%;
   }

   .modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  .modal_content {
    background-color: white;
    position: absolute;
    top: 10%;
    left: 20%;
    
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
    
  }

}

.green{
    color:#48F801;
}

.maroon{
    color:#F94C4C;
}

.yellow{
    color:#F9F94C;
}

.red{
    color:#E11F1F;
}

.white{
    color:#fff;
}